API_URL=https://testnet.binance.vision/api
STREAM_URL=wss://testnet.binance.vision/ws/
API_KEY=GRJe42ALP0pQhtdkH968cTrBXWTwGP0Qzh7ux8AdQkpNQGwsFZMAXMMj0tWIjr9Z
SECRET_KEY=gzyCFzNDOgTyO0gk3xZYjxHtcROuCc6nFxULLdbt7qKiwJzqgqgaR1WOvhvz4WgX